#logo{
    width: 70px;
    height: 65px;
}
#logout{
    width: 160px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: #ED2F2F;
    border: 1px solid #ED2F2F;
    margin-right: 15px !important;
    margin-top :0px;
}
.container{
   
    position: sticky !important;
    top: 0;
    z-index: +1;
    margin-top: 20px;
    
}
a{
    font-size: 20px !important;
    font-weight: 500 !important;
    
}
.navbar{
   
  
    background-color: #FFFFFF !important;
    padding: 5px 40px 10px 50px !important;
    font-family: Helvetica !important;
    margin: 0px 0px 15px 0px;
    
    
   
}
.navbar a{
    margin-left: 20px !important;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    margin: 0px 0px 0px 0px ;
}
.navbar a:hover{
    
    font-weight: bolder !important;
    color: #F9F9F9;
    background-color: #06283D;
   
}

.body{
    
    padding-top: 100px !important;
    padding-top: 60px;
    font-family: Helvetica !important;
    color: white;
    background: #06283D !important;   
    
}
.row{
    margin-top: 10px;
}
.data{
    border: 1px solid black;
    border-right : none ;
    border-bottom: none;

}
.content{
    height: 500px;
    margin-top: 20px ;
    margin-left: 20px ;
    background-color: #f1eeee;
   
}

.content img{
    width: 50px;
    height: 50px;
    z-index: +1;
    bottom: 5%;
    position: absolute;
    right: 5%;
}
ul{
    text-decoration: none;
    list-style: none;
}
ul li a{
    cursor: pointer;
}
ul li img{
    width: 70px;
    height: 70px;
    margin: 20px;
}
