#logo{
    width: 70px;
    height: 65px;
}
#login{
    width: 160px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: #009A2B;
    border: 1px solid greenyellow;
    margin-right: 15px !important;
    margin-top :0px;
}
.container{
    width: 100% !important;
    position: sticky !important;
    top: 0;
    z-index: +1;
    
}
a{
    font-size: 20px !important;
    font-weight: 500 !important;
    
}
.navbar{
   
    background-color: #072f47;
    background-color: #FFFFFF;
    padding: 5px 40px 10px 50px !important;
    font-family: Helvetica !important;
    margin: 15px 0px 15px 0px;
    
    
   
}
.navbar a{
    margin-left: 20px !important;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    margin: 0px 0px 0px 0px ;
}
.navbar a:hover{
    
    font-weight: bolder !important;
    color: #F9F9F9;
    background-color: #06283D;
   
}

.body{
    width: 100%;
    padding-top: 100px !important;
    padding-top: 60px;
    font-family: Helvetica !important;
    color: white;
    background: #06283D !important;
    
    
}
.details{
    margin: auto;
    width: 100%;
    padding-top: 30px;
    background-color: #F2F2F2;
}
.E-com,.Store{
    width: 100%;
    padding-top: 30px;
}

.ecom{
    width: 200px;
    height: 200px;
}
.store{
    width: 200px;
    height: 200px;
    
    
}

.row{
    margin-top: 60px;
    width: 75%;
    margin: auto;
    
    
}

.busInt{
    border-radius: 10px;
    border: 2px solid #083AA9;
    
}
.card{
    border-radius: 20px;
}

.E-com-card :hover{
    background-color: #072f47;
    color: white;
    border-radius: 20px;
}
.Super-card :hover{
    background-color: #072f47;
    color: white;
    border-radius: 20px;
}


.row-card{
    padding-top: 60px !important;
    padding-bottom: 60px;
}

.footer{
    padding-top: 20px !important;
    
}
.row-footer{
    font-family: sans-serif;
    margin-top: 70px !important;
    margin-bottom: 20px !important;
}
.row-footer ul{
    list-style: none;
    
}
.row-footer ul li{
    text-align: left;
    margin: 15px ;
    
}
.row-footer ul li img{
    width: 20px;
    height: 20px;
    text-decoration: dashed;
    margin-right: 10px;
    
}
.row-footer ul li span{
    padding: 5px 10px 5px 10px;
}

.row-footer ul li span:hover {
    color: white;
    background-color: #002B5B;
    text-decoration: dashed;
    /* padding: 4px 10px 4px 10px; */
    border-radius: 3px;
   
}

@media screen {
    
}

