input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#signupCon{
  
  height: 75rem !important;
}
input{
  border-radius: 5px ;
  border-bottom: none;
  padding-left: 15px;
  height: 50px;
  margin-left: 30px;
  width: 90%;
  border: none !important;
  outline: none !important;
  background-color: rgb(223, 223, 223);
  

}
input::placeholder{
  color: rgba(8, 8, 8, 0.466) !important;

    font-weight: 500px;
    font-size: 15x;
}
.form-control{
  border: none;
  background-color: #ffffff !important;
}

label{
  text-align: left !important;
  font-size: large;
  font-weight: bold;
  color: rgba(84, 187, 247, 0.911);
  margin: 10px 0 10px 30px;
  width: 200px;
  
}

h1{
  color: rgba(84, 187, 247, 0.911);
 
}

#createbtn{
  width: 90%;
  margin-left: 30px;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(23, 126, 3);
}

select{
  width: 90%;
  margin-left: 30px;
  margin-top: 30px;
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  font-size: large;
  font-weight: 500;
  outline: none;
}



 @media (max-width: 992px) { 
  #signupCon{
    height: 85rem !important; 
  }
 }