.footer{
    padding-top: 20px !important;
    
}
.row-footer{
    font-family: sans-serif;
    margin-top: 70px !important;
    margin-bottom: 20px !important;
}
.row-footer ul{
    list-style: none;
    
}
.row-footer ul li{
    text-align: left;
    margin: 15px ;
}
.row-footer ul li img{
    width: 20px;
    height: 20px;
    text-decoration: dashed;
    margin-right: 10px;
    
}

.row-footer ul li span:hover {
    color: white;
    background-color: #002B5B;
    text-decoration: dashed;
    padding: 4px 10px 4px 10px;
    border-radius: 3px;
   
}

