#logo {
  width: 60px;
  height: 60px;
}
#login {
  width: 160px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  background-color: #009a2b;
  border: 1px solid greenyellow;
  margin-right: 15px !important;
}
.container {
  width: 100% !important;
  position: sticky !important;
  top: 0;
  z-index: +1;
  background-color: white !important;
}
a {
  font-size: 20px !important;
  font-weight: 500 !important;
}
.navbar {
  background-color: #06283d;
  background-color: #f2f2f2;
  padding: 15px 40px 10px 50px !important;
  font-family: Helvetica !important;
}
.navbar a {
  margin-left: 20px !important;
  width: 140px;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
}
.navbar a:hover {
  color: #002b5b;
  font-weight: bolder !important;
  color: #f9f9f9;
  background-color: #009eff;
}
